* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 240, 237);

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 60px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;

}



.product {
    background-color: #f7f7f7;
    border: 2px solid rgb(231, 211, 133);
    padding: 20px;
    box-shadow: 20px 20px 40px grey;
    box-shadow: 1px 1px 5px 5px rgb(191, 188, 188);
    text-align: center;

}

.product:hover {
    background-color: rgb(250, 183, 230);
    transition: all 0.20s ease-in-out;
}

.product img {
    width: 150;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}

.product h2 {
    font-size: 20px;
    font-variant: small-caps;
    color: #000000;
    margin-top: 10px;
}

.product h3 {
    font-size: 18px;
    margin-top: 10px;
}

.product p {
    font-size: 14px;
    color: #000000;
    margin: 10px;
    padding: 0px;
    text-align: center;
}

.product button {
    background-color: #69eb6d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

}

.product button:hover {
    background-color: #08cd0f;
}